<div class="container-fluid">
  <a class="btn btn-primary navbar-btn preorder-btn" id='preorder-btn' href="{{preorderLink}}" target='_blank' {{action 'preorder'}}>
    Preorder - $7.99
  </a>
  <div class="navbar-header">
    <a href="http://juniper.squarepegroundhole.me" class='navbar-brand'>
      Square Peg Round Hole |
      <span class="juniper">Juniper</span>
    </a>
  </div>
  <div class="pull-right">
      <a href="#" {{action 'togglePlaying'}} class='btn btn-primary navbar-btn'>
        <i class='ion-{{if transport.isPlaying "stop" "play"}}'></i>
      </a>
      <a href="#" class='btn btn-primary navbar-btn' {{action 'resetMix'}}>
        <i class='ion-refresh'></i>
      </a>
      <a href="#" class='btn btn-primary navbar-btn' {{action 'showShareModal'}}>
        <i class='ion-android-share-alt'></i>
      </a>
  </div>
</div>
