<div class="bulb-img-wrapper">
  <img src="{{stem.offBulbUrl}}" width='{{stem.width}}' class='bulb-img-off' />
  <img src="{{stem.onBulbUrl}}" width='{{stem.width}}' class='bulb-img-on'/>
</div>

<div class="bulb-controls">
  <a href="#" class='bulb-control filter' {{action 'showFilterModal' bubbles=false}}>
    <i class='ion-erlenmeyer-flask'></i>
  </a>
  <a href="#" class='bulb-control distortion' {{action 'showDistortionModal' bubbles=false}}>
    <i class='ion-nuclear'></i>
  </a>
  <a href="#" class='bulb-control volume' {{action 'showVolumeModal' bubbles=false}}>
    <i class='ion-volume-medium'></i>
  </a>
  <a href="#" class='bulb-control reverse {{if stem.isReversed "active"}}' {{action 'toggleReverse' bubbles=false}}>
    <i class='ion-ios-{{if stem.isReversed "fastforward" "rewind"}}'></i>
  </a>
  <a href="#" class='bulb-control mute {{if stem.on "active"}}' {{action 'toggleMute' bubbles=false}}>
    <i class='ion-lightbulb'></i>
  </a>
</div>
