<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: {{fbAppId}},
      xfbml: true,
      version: 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

{{nav-component transport=transport}}
<div class="hidden-xs">
  <div class="bulbs-wrapper container-fluid {{if transport.isPlaying 'is-playing'}}">
    {{#masonry-grid columnWidth='.grid-sizer'}}
      <div class="grid-sizer"></div>
      {{#each model as |stem|}}
        {{sprh-bulb stem=stem}}
      {{/each}}
    {{/masonry-grid}}
  </div>
</div>

<div class="container mobile-container visible-xs">
  <div class="mobile-preorder-btns">
    <h4>Preorder</h4>
    <a href="#" class='btn btn-primary btn-block btn-lg preorder-btn' href="{{preorderDigitalLink}}" target='_blank' {{action 'preorderDigital'}}>
      iTunes - $7.99
    </a>
    <a href="#" class='btn btn-primary btn-block btn-lg preorder-btn' href="{{preorderVinylLink}}" target='_blank' {{action 'preorderVinyl'}}>
      Vinyl - $24.99
    </a>
  </div>
  <p>
    Please view this website in a wider browser window to use the remixer.
  </p>
</div>

<a class="spartan-logo" href='http://spr.tn/juniperlp' target='_blank'>
  <img src="https://s3.amazonaws.com/sprh/bulbs/img/spartan-records-logo.png" alt="Spartan Records" />
</a>
